*
!.gitignore
!ERP_process_list.mat
!process_list_cont02.mat
!process_list_cont05.mat
!process_list_cont08.mat
!process_list_cont11.mat
!process_list_cont94_NAVYEX_G.mat
!process_list_cont94_RD.mat
!process_list_cont94_VLBA.mat
!process_list_cont95.mat
!process_list_cont96.mat
!vie_itrf2014.mat
!vie_process_list_2015a.mat
!process_list_ICRF3.mat
!pl_NGS_big_VIE2020.mat
!pl_NGS_small_VIE2020.mat
!pl_VGOS_big_VIE2020.mat
!pl_VGOS_big_VIE2022b.mat
!pl_vgosDB_big_VIE2020.mat
!pl_vgosDB_big_VIE2022b.mat
!pl_vgosDB_small_VIE2020.mat
!pl_VGOS_small_VIE2020.mat
!pl_VGOS_small_VIE2022b.mat
