*
!.gitignore
!auto_azel_30.mat
!auto_int_v30.mat
!auto_std_v30.mat
!ivstrop_30.mat
!auto_std_v31_vgosdb.mat
!auto_std_v31_ngs.mat
!auto_int_v31_ngs.mat
!auto_int_v31_vgosdb.mat
!auto_azel_31.mat
!VIE_AC_vie2018a_vgosdb.mat
!VIE_AC_vie2019a_vgosdb.mat
!VIE_AC_vie2020a_vgosdb.mat
!VIE_AC_vie2020b_vgosdb.mat
!VIE_AC_vie2020c_vgosdb.mat
!VIE_AC_vie2021a_vgosdb.mat
!VIE_AC_v31_vgosdb.mat
!VIE_int_vgosdb.mat
